html, body {
  background-color: rgb(240, 240, 240);
  font-family: Nunito, Arial, Helvetica, sans-serif;
}

.infrabel-bg-blue {
  background-color: rgb(0, 188, 240);
}

.nav-link {
  color: rgb(255, 255, 255) !important;
  opacity: 0.75 !important;
}

.nav-link:hover {
  color: rgb(255, 255, 255) !important;
  opacity: 0.9 !important;
}

.nav-link.active {
  color: rgb(255, 255, 255) !important;
  opacity: 1.0 !important;
  font-weight: 700;
}

/* vue-datepick */
.vdatetime-popup__header {
  background-color: rgb(0, 93, 164) !important;
}

.vdatetime-calendar__month__day--selected > span > span, .vdatetime-calendar__month__day--selected:hover > span > span {
  background-color: rgb(0, 93, 164) !important;
}

.vdatetime-popup__actions__button {
  color: rgb(0, 93, 164) !important;
}

.vdatetime-time-picker__item--selected {
  color: rgb(0, 93, 164) !important;
}

/* nunito-regular - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/nunito-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Nunito Regular'), local('Nunito-Regular'),
       url('../fonts/nunito-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-v10-latin-regular.svg#Nunito') format('svg'); /* Legacy iOS */
}

/* nunito-regular - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/nunito-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Nunito Regular'), local('Nunito-Regular'),
       url('../fonts/nunito-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-v10-latin-regular.svg#Nunito') format('svg'); /* Legacy iOS */
}

/* nunito-700 - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/nunito-v10-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Nunito Bold'), local('Nunito-Bold'),
       url('../fonts/nunito-v10-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-v10-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-v10-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-v10-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-v10-latin-700.svg#Nunito') format('svg'); /* Legacy iOS */
}

